language: java

before_install:
  - chmod +x ./target/sdk/tools/neo.sh
  
after_script:
  - if [[ $TRAVIS_PULL_REQUEST == 'false' && $TRAVIS_BRANCH == 'master' ]]; then bash .travis/push demos || exit $?; fi
notifications:
  email: true